@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Jost&family=Questrial&family=Sunflower:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url('/img/default.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0%;
}

h1 {
    font-size: 3rem;
    font-family: 'Questrial', sans-serif;
    font-weight: 700;
    text-shadow: #454e51 2px 2px 1px;
    color: #90c8f4;
    text-align: center;
    transition: font-size 1s fade;
}

h2 {
    font-size: 2rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    text-shadow: #454e51 1px 1px 1px;
    color: #4EEDE8;
    text-align: right;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    text-shadow: #26292a 2px 2px 1px;
    color: #feffff;
    text-align: right;
}
.bar img {
    width: 18rem;
    height: 7rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 1%;
}

.weather {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1%;
}

.weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    opacity: 0.95;

}

.weather-icon img {
    width: 12rem;
    height: 12rem;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;

}

.weather-info p {
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    color: #90c8f4;
    font-family: 'Sunflower', sans-serif;
    text-shadow: #454e51 1px 2px 1px;
    text-align: center;
    text-transform: capitalize;
}

.description p {
    font-family: 'Comfortaa', cursive;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: #454e51 1px 2px 1px;
    text-align: center;
    color: #8786db;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.search-bar input {
    width: 40%;
    background-color: #d8e4f2;
    height: 2rem;
    font-size: .8rem;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    padding: .5%;
    border: #1e293d 1px solid;
    border-radius: 5px;
}

.temperature {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 10%;

}

.temperature p {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    text-shadow: #454e51 2px 2px 1px;
    color: #F9F871;
    text-align: center;
}

.temperature img {
    width: 3rem;
    height: 3rem;
}

.wind {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 10%;

}

.wind p {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    text-shadow: #454e51 1px 1px 1px;
    color: #55a6db;
    text-align: center;
    margin: 1%;
}

.wind img {
    width: 2rem;
    height: 2rem;
}

.humidity {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 10%;

}

.humidity p {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    text-shadow: #454e51 2px 2px 1px;
    color: #E6F4F1;
    text-align: center;
    margin: 1%;
}

.humidity img {
    width: 2rem;
    height: 2rem;
}

.rainfall {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 10%;

}

.rainfall p {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    text-shadow: #454e51 1px 1px 1px;
    color: #e8dddd;
    text-align: center;
    margin: 1%;
}

.rainfall img {
    width: 3rem;
    height: 3rem;
}

.no-rain{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 10%;
}

.no-rain p {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    text-shadow: #454e51 1px 1px 1px;
    color: #e8dddd;
    text-align: center;
    margin: 1%;
}

@media only screen and (max-width: 1086px){

    .weather-icon img {
        width: 10rem;
        height: 10rem;
    }
    .weather-info {
        width: 100%;
        height: 10%;
    }
    .weather-info p {
        font-size: 2rem;
    }
    .description p {
        font-size: 1.2rem;
    }
    .search-bar input {
        width: 50%;
        height: 1.5rem;
        font-size: .5rem;
    }
    .temperature img {
        width: 2rem;
        height: 2rem;
    }
    .wind img {
        width: 1.5rem;
        height: 1.5rem;
    }
    .humidity img {
        width: 1.5rem;
        height: 1.5rem;
    }
    .rainfall img {
        width: 2rem;
        height: 2rem;
    }
    .no-rain img {
        width: 2rem;
        height: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1rem;
    }
    .bar img {
        width: 15rem;
        height: 5rem;
    }
    .weather-icon img {
        width: 10rem;
        height: 10rem;
    }
    .weather-info {
        width: 100%;
        height: 10%;
    }
    .weather-info p {
        font-size: 1.5rem;
    }
    .description p {
        font-size: 1.2rem;
    }
    .search-bar input {
        width: 50%;
        height: 1.5rem;
        font-size: .5rem;
    }
    .temperature img {
        width: 4rem;
        height: 4rem;
    }
    .temperature p {
        font-size: 1.5rem;
    }
    .wind img {
        width: 3rem;
        height: 3rem;
    }
    .wind p {
        font-size: 1.5rem;
    }
    .humidity img {
        width: 3rem;
        height: 3rem;
    }
    .humidity p {
        font-size: 1.5rem;
    }
    .rainfall img {
        width: 4rem;
        height: 4rem;
    }
    .rainfall p {
        font-size: 1.5rem;
    }
    .no-rain p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    h3{
        font-size: 0.8rem;
    }
    .bar img {
        width: 10rem;
        height: 3rem;
    }
    .weather-icon img {
        width: 8rem;
        height: 8rem;
    }
    .weather-info {
        width: 100%;
        height: 10%;
    }
    .weather-info p {
        font-size: 1rem;
    }
    .description p {
        font-size: .6rem;
    }
    .search-bar input {
        width: 80%;
        height: 1.2rem;
        font-size: .39rem;
    }
    .temperature img {
        width: 3rem;
        height: 3rem;
    }
    .temperature p {
        font-size: .7rem;
    }
    .wind img {
        width: 2rem;
        height: 2rem;
    }
    .wind p {
        font-size: .7rem;
    }
    .humidity img {
        width: 2rem;
        height: 2rem;
    }
    .humidity p {
        font-size: .7rem;
    }
    .rainfall img {
        width: 3rem;
        height: 3rem;
    }
    .rainfall p {
        font-size: .7rem;
    }
    .no-rain p {
        font-size: .7rem;
    }
}

@media only screen and (max-width: 320px) {
    h1{
        font-size: 1rem;
    }
    h2{
        font-size: .8rem;
    }
    h3{
        font-size: .6rem;
    }
    .bar img {
        width: 8rem;
        height: 2rem;
    }
    .weather-icon img {
        width: 6rem;
        height: 6rem;
    }
    .weather-info {
        width: 100%;
        height: 10%;
    }
    .weather-info p {
        font-size: .8rem;
    }
    .description p {
        font-size: .2rem;
    }
    .search-bar input {
        width: 70%;
        height: .8rem;
        font-size: .4rem;
    }
    .temperature img{
        width: 2rem;
        height: 2rem;
    }
    .temperature p {
        font-size: .3rem;
    }
    .wind img{
        width: 1rem;
        height: 1rem;
    }
    .wind p {
        font-size: .3rem;
    }
    .humidity img{
        width: 1rem;
        height: 1rem;
    }
    .humidity p {
        font-size: .3rem;
    }
    .rainfall img{
        width: 2rem;
        height: 2rem;
    }
    .rainfall p {
        font-size: .3rem;
    }
    .no-rain p {
        font-size: .3rem;
    }

}
